* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

html,
body {
  font-size: 62.5%; /* 1rem = 10px */
  height: 100%;
  width: 100%;
}

body {
  font-family: ‘Arial Narrow’, sans-serif;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.911);
  display: flex;
  flex-direction: column;
  background: url(../img/bg1.jpg) center no-repeat;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

header {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
}

.logo {
  margin: 0;
  padding: 3.5rem 0 0 0;
  font-size: 3.6rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
}

menu {
  margin: 0 0 5rem 0;
  padding: 0;
  width: 100%;
  height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-btn {
  margin: 0 0 4rem 0;
  padding: 0;
}

#inter,
#rx {
  height: 2.5rem;
  width: 2.5rem;
}

.rdo-style {
  font-size: 1.8rem;
  padding: 1rem;
}

.generateBtn {
  margin: 0;
  padding: 0;
  width: 15rem;
  height: 5rem;
  border-radius: 0.5rem;
  outline: 0;
  background-color: transparent;
  border: 0.01rem solid #fff;
  font-size: 1.8rem;
  cursor: pointer;
  color: #fff;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wodList {
  width: 35rem;
  height: 25rem;
  padding: 0.5 rem;
}

li {
  margin: 2rem 0 0 0;
  padding: 0 0 1.2rem 0;
  font-size: 1.8rem;
  text-shadow: 0 0 0.063rem #858585;
  border-bottom: 0.1rem solid #414141;
  opacity: 0;
}

ul {
  list-style: none;
  padding: 1rem;
}

#tc {
  opacity: 0;
}

h2 {
  font-size: 1.8rem;
}

.animate {
  animation: fade 0.5s ease-in forwards;
}

@keyframes fade {
  100% {
    opacity: 1;
  }
}

.startBtn {
  margin: 1rem 0 0 0;
  padding: 0;
  width: 15rem;
  height: 5rem;
  outline: 0;
  background-color: transparent;
  font-size: 1.8rem;
  cursor: pointer;
  visibility: hidden;
  color: #fff;
}

.clockWrapper {
  margin: 2.5rem 0 0 0;
}

.min,
.sec,
p,
h6 {
  display: inline;
}

#secOne,
#minOne {
  font-size: 3.2rem;
  font-weight: 100;
  padding: 0 0.5rem 0 0;
  color: #fff;
}

h6 {
  letter-spacing: 0.1rem;
  color: #fff;
}

.footer {
  margin: 0;
  padding: 0 0 2rem 0;
  flex-shrink: 0;
  width: 100%;
  text-align: center;
}

.footer a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.849);
  margin: 1rem;
}
