* {
  padding: 0;
  margin: 0;
}

html,
body {
  background-image: linear-gradient(180deg, #a55cf8, #841cfa);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 100;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 32px;
}

p {
  font-size: 16px;
}

header {
  padding: 25px 0 0 0;
  justify-content: center;
  text-align: center;
}

.btnMenu {
  padding: 50px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.generateBtn {
  width: 10em;
  height: 3.5em;
  background-color: transparent;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.wodList {
  padding: 50px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}
